@model IEnumerable<MMS.Data.Models.Member>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <h2 class="col-lg-1">MMS -</h2><h2 class="col-lg-11">Member Management Solution</h2>
    </div>

    <div>
        There are @Model.Count() Members in the db.
    </div>
</div>

<hr />

<style>
    .jumbotron {
        background-color:teal;
        color: ghostwhite;
    }
</style>

