@model IEnumerable<MMS.Data.Models.Member>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() Members in the db.
    </div>
    <hr />
    @foreach(var member in Model)
    {       
        <ul>@member.FirstName @member.LastName</ul>
        
    }
</div>

