@model IEnumerable<MMS.Data.Models.Member>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() Members in the db.
    </div>
    <hr />
    <ol>
        @foreach(var member in Model)
        {
            <li>@member.FirstName @member.LastName</li>
        }
    </ol>
    
</div>

