@model IEnumerable<MMS.Data.Models.Member>


@{
    ViewBag.Title = "Index";
}

<h2>Members: </h2>
<div style="padding-bottom: 15px">
    <a>@Html.ActionLink("Create New", "Create", "Members", null, new { @class = "btn btn-primary btn-large" })</a>
</div>

@foreach(var item in Model)
{
    @Html.Partial("_MemberSummary", item)
}


